$bg-primary: #f1f5f9;
$color-primary: #0f172a;
$color-secondary: #e3faff7e;
$color-terciary: #8d848442;


/**
icon size
*/
$icon-size-primary: 4rem;
$icon-size-secondary: 2rem;

// border-shadows
$shadow: 0px 5px 13px 1px $color-terciary


